.App {
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
}

.App span:nth-child(2) {
  min-height: 100vh;
  padding: 50px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.App span:nth-child(1) {
  min-height: 100vh;
  flex-grow: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* UserForm */
.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-field {
  display: flex;
  align-items: center;
  padding: 5px 0px;
  width: 100%;
}

.user-field input {
  border: 10px solid rgb(255, 255, 255);
  border-radius: 8px;
  text-align: center;
  margin: 10px;
  padding: 10px 0px;
  flex-grow: 1;
}

#birthday {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

#submit {
  margin: 10px;
  background-color: rgb(87, 114, 238);
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 10px 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

/* UserCard */
.usr-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem;
  padding: 0px 50px;
  background-color: #fff;
  margin-bottom: 30px;
  width: 40vh;
}

.usr-btn button {
  border: none;
  background: none;
  padding: 10px;
  font-size: larger;
}